body{
  background-image: url(background.jpg);
  background-size: cover;
}
*{
  color: white;
}
.contenitore{
  background-color:rgba(0,0,0,0.4);
  margin:auto;
  width: 900px
}
.quadrato{
  border-radius: 5px;
}
.container{
  margin:auto;
  width: 700px;
  padding-bottom: 100px;
}

header, nav{
  text-align: center;
  font-family: sans-serif;
}
header > h2{
  color: rgb(0, 221, 0);
}
#logo{
  width: 300px;
}

nav > div{
  background-color: rgb(0, 221, 0);
  border-radius: 5px;
  padding: 10px
}

div > input{
  color: black;
}

main > section{
  margin-left: 10px;
  font-family: sans-serif;
}

section > h3{
  display: inline-block;
}

section > span{
  display: block;
}

.barradicaricamento1{
  width: 70px;
  height: 20px;
  background-color: rgb(221, 0, 0);
  border-radius: 15px;
}

.barradicaricamento2{
  width: 300px;
  height: 20px;
  background-color: rgb(0, 221, 0);
  border-radius: 15px;
}

.barradicaricamento3{
  width: 150px;
  height: 20px;
  background-color: orange;
  border-radius: 15px;
}
